<h2> Paices</h2>
<hr>
<ul class="list-group">
  <!-- <li  routerLink=""  class="list-group-item"
   routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}">
    Home Page
  </li>
  <li routerLink="about" class="list-group-item"
  routerLinkActive="active">
    About Page
  </li>
  <li routerLink="contacto" class="list-group-item"
  routerLinkActive="active">
    Contacto Page
  </li> -->
  <li routerLink="countries/by-capital" class="list-group-item"
  routerLinkActive="active">
    Por Capital
  </li>
  <li routerLink="countries/by-country" class="list-group-item"
  routerLinkActive="active">
    Por Pais
  </li>
  <li routerLink="countries/by-region" class="list-group-item"
  routerLinkActive="active">
    Por Region
  </li>
</ul>
